<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>News Aggragator</title>
  <link rel="stylesheet" href="/app.css" />
</head>

<body>
  <%= yield %>
  <script src="/javascripts/app.js"></script>
</body>
</html>
